.divClass h1 {
  color: red;
}
#thirdDiv {
  width: 500px;
  height: 600px;
  background: blue;
  padding: 50px;
  border: 5px solid black;
}
img {
  width: 400px;
  height: 200px;
}
#spanId {
  font-size: 18px;
  margin: 50px;
}
